@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Roboto;
    margin: 0;
}

img {
    height: 30px;
    cursor: pointer;
}

.whole {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #1992d4;
    color: white;
    width: 300px;
    height: 100vh;
}

.sidebar > .section1 > ul > li > .bx, .section2 > ul > li > .bx {
    padding-right: 12px;
}

.logo {
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 0;
    font-size: 28px;
    font-weight: 700;
}

.logo > i {
    padding-right: 4px;
}


ul {
    list-style: none;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
}

li {
    padding-bottom: 10px;
    transition: .2s;
}

.sidebar > div > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1px;
    
}

.topbar {
    background-color: white;
}

.topbar > .section1 {
    display: flex;
    flex-direction: row;
    padding: 24px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.greetings {
    display: flex;
}

.topbar > .section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 0px;
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,.1);
}

.topbar > .section2 > .greetings > img {
    height: 80px;
}

.topbar > .section2 > .greetings > .greetingsName > .greet {
    font-weight: 400;
    margin-bottom: 0px;
}

.topbar > .section2 > .greetings > .greetingsName > .name {
    font-weight: 500;
    font-size: 24px;
    margin-top: 0px;
}


.main {
    width: 100vw;
    background-color: #e2e8f0;
}

input {
    width: 50vw;
    background-color: #e2e8f0;
    border-radius: 20px;
    border: none;
    height: 30px;
    padding: 2px 16px;
    margin-left: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
}

i {
    vertical-align: middle;
    cursor: pointer;
}

.btnGroup {
    padding-left: 16px
}

.btnGroup > button {
    background-color: #1992d4;
    color: white;
    border: 2px solid #1992d4;
    border-radius: 20px;
    padding: 8px 16px;
    gap: 32px;
    margin: 6px;
    transition: .1s ease-in-out;
}

.btnGroup > button:hover {
    background-color: white;
    cursor: pointer;
    color: #1992d4;
}

.dash {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.dashLeft {
    margin: 16px;
    
}

.card {
    max-width: 300px;
    min-width: 250px;
    font-size: 14px;
    background-color: white;
    padding: 16px;
    border-left: 6px solid #f0b429;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 2px rgba(0,0,0,.1);
    transition: .1s ease-in-out;
}

.card:hover {
    background-color: #f0b429;
    color: white;
    cursor: pointer;
}

.card > h4 {
    margin: 0;
}

.card > p {
    margin: 0;
}

.cardContainer {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.iconGroup > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    margin-left: 164px;
}

.iconGroup > ul > li {
    display: inline-block;
    margin-left: 16px;
}

.dashRight {
    margin: 16px;
}

.announcements > ul {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 2px rgba(0,0,0,.1);
}

.announcements > ul > li {
    padding: 12px 8px;
}

.announcements > ul > li > h4 {
    font-size: 14px;
    margin: 0px;
}

.announcements > ul > li > p {
    font-size: 14px;
    margin: 0px;
    font-weight: 300;
}